header {
    background-color: #0bf;
    /* padding: 30px 10px 0px 10px;
    margin: -10px 0px; */
    box-sizing: border-box;
    margin-top: -40px;
    margin-right:-7px;
    margin-left:-7px;
}
.header-wrapper {
    text-align:center;
    color: #06f;
    font-size:24px;
    
}

.nav-wrapper {
    box-sizing: border-box;
    margin-bottom: 24px;
    position:absolute;
    top: 15px;
    right:50px;
}
nav {
    word-spacing: 10px;
    text-align: right;
    font-size: 18px;
}
main {
    margin: 0;
}

.img {
    display:flex;
    justify-content: center;
}
.profile-picture {
    width: 600px;
    height:750px;
}
.section-1 {
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-family: serif, sans-serif;
}
.centered {
    display: flex;
    justify-content: center;
}
.about-jack {
    text-align: center;
}
.description {
    text-align: center;
}
footer {
    background-color: #0bf;
}