
header {
    background-color: silver;
    font-size: 72px;
    color: blue;
    text-align:center;
    width:auto;
}
nav {
    font-size: 12px;
}
.img {
    display:flex;
    justify-content: center;
}
.profile-picture {
    width: 600px;
    height:600px;
}
.section-1 {
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-family: serif, sans-serif;
}
.centered {
    display: flex;
    justify-content: center;
}
.about-jack {
    text-align: center;
}
.description {
    text-align: center;
}